<nav class="navbar sticky-top bg-body-tertiary primary-background">
  <hr class="bold-line">
  <hr class="normal-line">
  <div class="container-fluid d-flex justify-content-evenly align-items-center w-100">
    <a class="nav-link custom-width" href="#">ARTICLES</a>
    <a class="nav-link custom-width" href="#">QUIZ</a>
    <a class="navbar-brand" href="#">
      <img src="/assets/logo/Logo.png" alt="Logo" width="300" height="150" class="d-inline-block align-text-top">
    </a>
    <a class="nav-link custom-width" href="#">FREE STYLE GUIDE</a>
    <a class="nav-link custom-width" href="#">LOOKBOOK</a>
  </div>
  <hr class="normal-line">
  <hr class="bold-line">
</nav>
