  <header>
    <nav class="navbar sticky-top bg-body-tertiary primary-background">
      <hr class="bold-line">
      <hr class="normal-line">
      <div class="container-fluid d-flex justify-content-evenly align-items-center w-100">
        <div class="custom-width">
          <a class="nav-link normal-link" href="#">ARTICLES</a>
        </div>
        <div class="custom-width">
          <a class="nav-link normal-link" href="#">QUIZ</a>
        </div>
        <div class="logo-div">
          <div class="mobile-hamburger">
            <button class="menu-toggle" (click)="toggleMenu()">
              <span class="bar"></span>
              <span class="bar"></span>
              <span class="bar"></span>
            </button>

            <!-- Mobile dropdown menu -->
            <div class="mobile-menu" [class.active]="menuOpen">
              <a class="nav-link normal-link" href="#">ARTICLES</a>
              <a class="nav-link normal-link" href="#">QUIZ</a>
              <a class="nav-link normal-link" href="suit-guide">FREE SUIT GUIDE</a>
              <a class="nav-link normal-link" href="/wholecuts">ITALIAN MADE WHOLECUT SHOES</a>
            </div>
          </div>
          <a class="navbar-brand" href="#">
            <img src="assets/logo/Logo.png" alt="Logo" width="200" height="75" class="d-inline-block align-text-top">
          </a>
        </div>
        <div class="custom-width">
          <a class="nav-link normal-link" href="suit-guide">FREE SUIT GUIDE</a>
        </div>
        <div class="call-to-action">
          <div class="custom-width">
            <a class="nav-link" href="/wholecuts">
              <span class="cta-title">SHOP THE COLLECTION</span>
              <span class="cta-subtitle">LIMITED EDITION</span>
            </a>
          </div>
        </div>
      </div>
      <hr class="normal-line">
      <hr class="bold-line">
    </nav>
    <div class="space-beneath"></div>
  </header>
