<div class="green-wallpaper container-fluid">
  <div class="row">
    <div class="col px-0">
      <div class="contact-col container-fluid align-items-center">
        <div class="row">
          <div class="col">
            <h1>CONTACT US</h1>
            <input type="email" class="form-control email-field w-75" id="exampleFormControlInput1" placeholder="name@example.com">
            <textarea class="form-control text-field w-75" id="exampleFormControlTextarea1" rows="3"></textarea>
          </div>
          <div class="col">
            <img src="assets/self/contact-image.png" class="self">
          </div>
        </div>
      </div>
    </div>
    <div class="col-3 px-0">
      <div class="side-col">s</div>
    </div>
  </div>
  <div class="bottom-col"> a</div>
</div>
