@import 'styles';

.hero-section {
  position: relative;
  height: 83vh;
  display: flex;
  flex-direction: column;
  justify-content: center; /* centers text vertically */
  align-items: center;     /* centers text horizontally */
  text-align: center;
  overflow: hidden;
  background-image:
    linear-gradient(rgba(0, 0, 0, 0.15), rgba(0, 0, 0, 0.65)),
    url('../../../../assets/creatives/gentlemans-renaissance/black-tie.JPG');
  background-size: cover;
  background-position: 0% 38%;
  background-repeat: no-repeat;
}

/* --- TEXT STYLING --- */
.hero-section .subtitle {
  color: #fff;
  text-shadow: 0 0 10px rgba(0, 0, 0, 0.8);
  font-size: 1.25rem;
  margin-bottom: 0.5rem;
  letter-spacing: 0.5px;
  opacity: 0.9;
  animation: fadeUp 1s ease forwards;
}

.hero-section h1 {
  color: #fff;
  text-shadow: 0 0 10px rgba(0, 0, 0, 0.8);
  margin: 1rem 20%;
  line-height: 1.4;
  font-weight: 500;
  animation: fadeUp 1s ease forwards;
  animation-delay: 0.2s;
}

/* --- BUTTON --- */
.hero-section button {
  display: inline-block;
  background: linear-gradient(145deg, #f7c86b, #f4b94f);
  color: #3a2a18;
  border: none;
  font-size: 1rem;
  font-weight: 600;
  letter-spacing: 0.5px;
  padding: 1rem 2.2rem;
  border-radius: 9999px;
  box-shadow: 0 6px 14px rgba(0, 0, 0, 0.3);
  transition: all 0.3s ease;
  cursor: pointer;
  margin-top: 2rem;
  width: auto;
  animation: fadeUp 1s ease forwards;
  animation-delay: 0.4s;
}

.hero-section button:hover {
  transform: translateY(0) scale(1.1);
  box-shadow: 0 0 20px 0 rgb(239, 185, 81);
}

/* --- BOTTOM CREDIT --- */
.cc {
  display: flex;
  position: absolute;
  bottom: 1rem;
  right: 2rem;
  color: rgba(255, 255, 255, 0.8);
  text-shadow: 0 0 6px rgba(0, 0, 0, 0.6);
  font-size: 0.85rem;
  letter-spacing: 0.5px;
  font-style: italic;
  animation: fadeUp 1s ease forwards;
  animation-delay: 0.6s;
}

.cc p,
.cc i {
  display: inline;
  margin: 0;
  padding: 0;
  line-height: 1;
}

/* --- ANIMATION --- */
@keyframes fadeUp {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.hero-section p,
.hero-section h1,
.hero-section button {
  opacity: 0;
  transform: translateX(20px);
  animation: fadeLeft 1s ease forwards;
}

.hero-section h1 {
  animation-delay: 0.2s;
}

.hero-section button {
  animation-delay: 0.4s;
}

@keyframes fadeLeft {
  to {
    opacity: 1;
    transform: translateX(0);
  }
}


/* --- RESPONSIVE TWEAKS --- */
@media (max-width: 768px) {
  .hero-section h1 {
    margin: 1rem 10%;
    font-size: 1.2rem;
  }

  .hero-section button {
    width: auto;
    padding: 0.8rem 1.6rem;
  }

  .cc {
    right: 1rem;
    font-size: 0.75rem;
  }
}
