<main class="">
  <article class="row align-items-center">
    <section class="image-section col-md-6">
      <img src="/assets/creatives/lead-magnet/lead-offer.png"
           width="750"
           alt="Lead Magnet Promo Picture">
    </section>
    <section class="text-section col-md-6 text-center">
      <span>Stop Wasting Money on Suits That Make You Look Cheap</span>
      <h2>Discover the 5 Secrets of the Perfect Suit Every Man Must Know</h2>
      <p>Most guys blow thousands on suits that end up collecting dust
        — or worse, make them look like they’re just another guest at
        a wedding. This guide shows you how to stop wasting money and
        start wearing suits that turn heads, spark respect, and make
        people wonder what business you’re running.</p>
      <button type="button" class="btn btn-primary" (click)="openPopup()">I NEED IT!</button>
    </section>
  </article>
</main>
