<section class="popup-body">
  <img src="/assets/creatives/lead-magnet/popup-image.png"
       alt="Lead Magnet Promo Picture">
  <section>
    <div class="main-text">
      <h2>You are just one step away...</h2>
      <p>You're in luck. You can get this comprehensive guide <br> that usually sells for
        <span class="text-decoration-line-through">7.99€</span>, now only for 2.99€!</p>
      <button mat-button (click)="redirectToStripe()">GET IT NOW FOR <span class="text-decoration-line-through">7.99€</span>
        2.99€
      </button>
      <p class="or">OR</p>
      <p>Get it for <span class="free">FREE</span> when you join our exclusive newsletter — a digital gentleman's
        gazette, packed with style tips,
        fashion finds, book/music/film recommendations and many more, sent straight to your inbox!</p>
      <form (ngSubmit)="onSubmit($event)" #mlForm="ngForm" novalidate>
      <div class="input-row">
          <input ngModel type="email" aria-required="true" name="fields[email]" [(ngModel)]="emailInput"
                 placeholder="dapper@gentleman.com">
          <input ngModel type="text" aria-required="true" name="fields[name]" [(ngModel)]="nameInput"
                 placeholder="Don Draper">
        </div>
        <div class="checkbox-row">
          <input ngModel type="checkbox" id="checkbox" name="fields[checkbox]" [(ngModel)]="checkboxInput">
          <label for="checkbox">By selecting this I accept to receive newsletters and any other
            communication from the Gentlemen's Order via email. You can unsubscribe at any time.</label>
        </div>
        <p class="privacy-note">
          Read our <a href="/privacy-policy" target="_blank">Privacy Policy</a> to learn how we protect and process your
          data.
        </p>
        <input type="submit" [disabled]="!canSubmitForm()">
      </form>
    </div>
  </section>
</section>
